<%- include('../partials/header') %>

<a href="/" class="back">
    <i></i>
</a>
<section class="albumDetails">
    <img src=<%= albumInfo.image[3]['#text'] %> />
    <section>
        <h2><%= albumInfo.name %></h2>
        <h2><%= albumInfo.artist %></h2>
        <p><%= albumInfo.wiki.published %></p>
    </section>
    <ul>
        <% tracks.forEach(function(song) { %>
            <li>
                <%= song.name %>
            </li>
        <% }) %>
    </ul>
    <section>
        <%= albumInfo.wiki.summary %>

        <form action="/favourites" method="POST">
            <input name="albumID" value="<%- albumInfo.mbid %>" style="display:none">
            <input type="submit" value="&#9829;Add this ablum to your favourites?&#9829;">
        </form>
    </section>

</section>
<%- include('../partials/footer') %>