<%- include('../partials/header') %>


<% allAlbums.forEach(function(album) { %>
    <a href="/mbid/<%= album.mbid%>">
        <img src='<%= album.image[3]['#text'] %>' alt='<%= album.name %> - <%= album.artist.name%>' />
    </a>
<% }) %>


<%- include('../partials/footer') %>